<div class="row m-0">
	<div class="form-group col-md-12 p-0">
		<nb-checkbox [(ngModel)]="isPayPalEnabled">
			<img alt="" src="{{ logo }}" width="20px"/>
			{{ name }}
		</nb-checkbox>
	</div>
</div>

<form #payPalConfigForm="ngForm" [hidden]="!isPayPalEnabled">
	<div class="row m-0">
		<div class="form-group col-md-6">
			<label for="paypalMode">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.MODE' | translate
				}}
			</label>
			<select
					#mode="ngModel"
					[(ngModel)]="configModel.mode"
					class="form-control"
					id="paypalMode"
					name="paypalMode"
					required
			>
				<option disabled hidden selected value="">{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.CHOOSE_PAYPAL_MODE'
							| translate
					}}</option>
				<option *ngFor="let type of payPalTypes" value="{{ type }}">
					{{ type }}
				</option>
			</select>
		</div>
		
		<div class="form-group col-md-6">
			<label for="paypalCurrency">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.CURRENCY'
						| translate
				}}
			</label>
			<select
					#currency="ngModel"
					[(ngModel)]="configModel.currency"
					class="form-control"
					id="paypalCurrency"
					name="paypalCurrency"
					required
			>
				<option disabled hidden selected value="">{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.CHOOSE_CURRENCY_CODE'
							| translate
					}}</option>
				<option
						*ngFor="let currency of currencies"
						value="{{ currency.code }}"
				>{{ currency.name }} ({{currency.sign}})</option
				>
			</select>
			<small
					*ngIf="currency.invalid && (currency.dirty || currency.touched)"
					class="text-danger"
			>
				<span *ngIf="currency.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.CURRENCY_TEXT_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
	
	<div class="row m-0">
		<div class="form-group col-md-12">
			<label for="paypalPublishableKey">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.PUBLISHABLE_KEY'
						| translate
				}}
			</label>
			<input
					#publishableKey="ngModel"
					[(ngModel)]="configModel.publishableKey"
					[ngClass]="{
					'input-danger':
						publishableKey.invalid &&
						(publishableKey.dirty || publishableKey.touched),
					'input-success':
						publishableKey.valid &&
						(publishableKey.dirty || publishableKey.touched)
				}"
					class="form-control"
					id="paypalPublishableKey"
					name="paypalPublishableKey"
					nbInput
					placeholder="{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.PUBLISHABLE_KEY'
						| translate
				}}"
					required
					type="text"
			/>
			<small
					*ngIf="
					publishableKey.invalid &&
					(publishableKey.dirty || publishableKey.touched)
				"
					class="text-danger"
			>
				<span *ngIf="publishableKey.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.PUBLISHABLE_KEY_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
	
	<div class="row m-0">
		<div class="form-group col-md-12">
			<label for="paypalSecretKey">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.SECRET_KEY'
						| translate
				}}
			</label>
			<input
					#secretKey="ngModel"
					[(ngModel)]="configModel.secretKey"
					[ngClass]="{
					'input-danger':
						secretKey.invalid &&
						(secretKey.dirty || secretKey.touched),
					'input-success':
						secretKey.valid &&
						(secretKey.dirty || secretKey.touched)
				}"
					class="form-control"
					id="paypalSecretKey"
					name="paypalSecretKey"
					nbInput
					placeholder="{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.SECRET_KEY'
						| translate
				}}"
					required
					type="text"
			/>
			<small
					*ngIf="
					secretKey.invalid && (secretKey.dirty || secretKey.touched)
				"
					class="text-danger"
			>
				<span *ngIf="secretKey.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.SECRET_KEY_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
	
	<div class="row m-0">
		<div class="form-group col-md-12">
			<label for="paypalDescription">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.PAYMENT_DESCRIPTION'
						| translate
				}}
			</label>
			<input
					#description="ngModel"
					[(ngModel)]="configModel.description"
					[ngClass]="{
					'input-danger':
						description.invalid &&
						(description.dirty || description.touched),
					'input-success':
						description.valid &&
						(description.dirty || description.touched)
				}"
					class="form-control"
					id="paypalDescription"
					name="paypalDescription"
					nbInput
					placeholder="{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.PAYMENT_DESCRIPTION'
						| translate
				}}"
					required
					type="text"
			/>
			<small
					*ngIf="
					description.invalid &&
					(description.dirty || description.touched)
				"
					class="text-danger"
			>
				<span *ngIf="description.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.PAYPAL.PAYMENT_DESCRIPTION_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
</form>
