<toaster-container></toaster-container>

<div class="setup-merchants-page">
	<div class="row">
		<div class="col-md-9">
			<nb-card>
				<nb-card-body>
					<nb-stepper #nbStepper orientation="vertical">
						<nb-step label="{{ 'SETTINGS_VIEW.SETUP_MARKET.STEPPER.BASIC_INFO' | translate }}">
							<ea-market-setup-basic-info
									#basicInfo
									(nextStep)="nbStepper.next()"
									(previousStep)="nbStepper.previous()"
							></ea-market-setup-basic-info>
						</nb-step>
						<nb-step
								label="{{
								'SETTINGS_VIEW.SETUP_MARKET.STEPPER.CONTACT_INFO'
									| translate
							}}"
						>
							<ea-market-setup-contact-info
									#contactInfo
									(nextStep)="nbStepper.next()"
									(previousStep)="nbStepper.previous()"
							></ea-market-setup-contact-info>
						</nb-step>
						<nb-step
								label="{{
								'SETTINGS_VIEW.SETUP_MARKET.STEPPER.PAYMENTS'
									| translate
							}}"
						>
							<ea-market-setup-payments
									#payments
									(nextStep)="nbStepper.next()"
									(previousStep)="nbStepper.previous()"
									[warehouseLogo]="basicInfo.basicInfoModel.logo"
							></ea-market-setup-payments>
						</nb-step>
					</nb-stepper>
				</nb-card-body>
			</nb-card>
		</div>
		
		<div class="col-md-3">
			<ea-merchants-setup-instructions
					[stepper]="nbStepper"
			></ea-merchants-setup-instructions>
		</div>
	</div>
</div>
