<ion-content scroll="false" class="app-view warehouse-view no-padding">
	<ion-row class="warehouse-view m-0">
		<div class="orders-container col">
			<div class="bar bar-header bar-brand">
				<div class="buttons buttons-left header-item">
					<span class="left-buttons">
						<div class="waves-effect waves-classic">
							<ion-menu-toggle class="button-icon">
								<ion-icon
										ios="ios-menu"
										md="md-menu"
								></ion-icon>
							</ion-menu-toggle>
						</div>
					</span>
				</div>
				<div class="button-bar-right-container allowOverflow">
					<div class="button-bar text-wrap">
						<a
								class="button switch"
								[ngClass]="{
							'button-dark-brand': showRelevant,
							'button-brand': !showAllProducts
						}"
						>
							<ion-select
									interface="popover"
									[placeholder]="'WAREHOUSE_VIEW.SWITCH_ORDERS' | translate"
									(ionChange)="switchOrders(true, $event); showAllProducts = false;"
							>
								<ion-select-option value="relevant"
								>{{ 'WAREHOUSE_VIEW.RELEVANT' | translate
									}}</ion-select-option
								>
								<!--suppress TypeScriptValidateTypes -->
								<ion-select-option
										*ngFor="let status of keys(statuses) | skipStatus:orderStatus"
										[value]="status"
								>
									{{
									('WAREHOUSE_VIEW.ORDER_WAREHOUSE_STATUSES.'
											+ statuses[status]) | translate }}
								</ion-select-option>
							</ion-select>
						</a>
						
						<a
								class="button"
								[ngClass]="{
								'button-dark-brand': isOrderContainerLive,
								'button-brand': !isOrderContainerLive
							}"
								(click)="toggleOrderContainer()"
						>
							+ {{ 'WAREHOUSE_VIEW.NEW_ORDER' | translate }}
						</a>
						<a class="button button-brand" (click)="scanBarcode()" *ngIf="!isBrowser">
							<i class="fa fa-qrcode"></i>
							{{ 'WAREHOUSE_VIEW.SCAN' | translate }}
						</a>
						<a (click)="toggleAllProducts()"
						   class="all button button-brand"
						>
							<i class="fa"
							   [ngClass]="{ 'fa-shopping-bag' : showAllProducts, 'fa-book' : !showAllProducts}"></i>
							{{ (!showAllProducts
								? "WAREHOUSE_VIEW.ALL_PRODUCTS"
								: "WAREHOUSE_VIEW.ALL_ORDERS") | translate }}
						</a>
						<a class="button button-brand" (click)="hideTopProducts = !hideTopProducts">
							{{ (hideTopProducts
								? "WAREHOUSE_VIEW.SHOW_TOPS"
								: "WAREHOUSE_VIEW.HIDE_TOPS") | translate }}
						</a>
					</div>
				</div>
			</div>
			
			<ion-content class="app-view" scroll="false">
				<div class="orders">
					<div class="pt-3" *ngIf="isOrderContainerLive">
						<order
								class="card m-0 mb-0 p-0"
								(orderFinishedEmitter)="onOrderFinish()"
						></order>
					</div>
					
					<merchant-all-products
							*ngIf="showAllProducts"
							[warehouseId]="warehouseId"
							[getWarehouseProductImageUrl]="getWarehouseProductImageUrl"
							[truncateTitle]="truncateTitle"
					>
					</merchant-all-products>
					<merchant-relevant-orders
							*ngIf="showRelevant && !showAllProducts"
							[onUpdateWarehouseStatus]="updateOrderWarehouseStatus"
							[getWarehouseStatus]="getWarehouseStatus"
							[orderState]="orderState"
							[focusedOrder]="focusedOrder"
							(toggleOrderContainer)="toggleOrderContainer()"
							[isOrderContainerLive]="isOrderContainerLive"
							[filter]="filter"
					>
					</merchant-relevant-orders>
					
					<merchant-all-orders
							*ngIf="!showRelevant && !showAllProducts"
							[onUpdateWarehouseStatus]="updateOrderWarehouseStatus"
							[getWarehouseStatus]="getWarehouseStatus"
							[orderState]="orderState"
							[focusedOrder]="focusedOrder"
							(toggleOrderContainer)="toggleOrderContainer()"
							[isOrderContainerLive]="isOrderContainerLive"
					>
					</merchant-all-orders>
				</div>
			</ion-content>
		</div>
		<!-- Right panel -->
		<div class="products-container" *ngIf="!hideTopProducts">
			<div class="bar bar-header bar-assertive redbar">
				<div>
					<span class="text">
						{{ 'WAREHOUSE_VIEW.PRODUCTS' | translate }}
					</span>
					<button
							class="icon button-icon plus-navbar-button p-0"
							(click)="presentCreateProductPopover()"
					>
						<ion-icon ios="ios-add" md="md-add"></ion-icon>
					</button>
				</div>
			</div>
			
			<merchant-top-products
					[warehouseId]="warehouseId"
					[addProduct]="addProduct"
					[getWarehouseProductImageUrl]="getWarehouseProductImageUrl"
					[truncateTitle]="truncateTitle"
			></merchant-top-products>
		</div>
	</ion-row>
</ion-content>
