@import '~@ever-platform/common-angular/src/scss/everbie.common';

.brand-dark {
	background-color: $brand;
}

.wait-spinner {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	display: flex;
	padding-top: 20%;
	padding-bottom: 20%;
	align-content: center;
	justify-content: center;
}

.product-details {
	position: relative;
	z-index: 15;
	height: 100%;
	width: 100%;
	padding: 2% 0 0 0;
	margin: 0;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	/*display: flex;*/
	
	mat-card-content {
		width: 100%;
		height: 100%;
		
		.row {
			height: 100%;
		}
	}
	
	.product-details-container {
		height: 100%;
		display: flex;
		align-items: center;
		align-content: center;
		
		.statistics {
			margin-top: 2rem;
			margin-bottom: 2rem;
			border: 2px solid rgba(200, 200, 200, 0.7);
			border-radius: 3px;
			width: 100%;
			height: 100%;
			max-height: 600px;
			background: rgba(252, 252, 252, 0.6);
			overflow: auto;
			scroll-behavior: smooth;
		}
	}
	
	.back-button {
		position: absolute;
		top: 35px;
		left: 35px;
	}
	
	.back-button svg {
		position: relative;
		width: 28px;
		height: 28px;
	}
	
	.product-details-content {
		padding-left: 5.7vw;
		padding-right: 5.7vw;
		flex-grow: 1;
	}
	
	.warehouse {
		display: flex;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.warehouse warehouse-logo {
		display: inline-flex !important;
		margin-right: 15px;
		width: 2.7vw;
		height: 2.7vw;
	}
	
	.warehouse .warehouse-name {
		display: inline-block;
		font-family: Roboto, cursive;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0, 0, 0, 0.54);
		margin: 0;
	}
	
	.product {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.product .title {
		margin-top: 5px;
		margin-bottom: 10px;
		
		font-family: Roboto, sans-serif;
		font-size: 36px;
		font-weight: 500;
		color: rgba(0, 0, 2, 0.8);
	}
	
	.product .rating {
	
	}
	
	.product .description {
		margin-top: 0;
		margin-bottom: 12px;
		
		font-family: Roboto, sans-serif;
		font-size: 21px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.8);
	}
	
	.product .details {
		margin-top: 0;
		margin-bottom: 0;
		
		font-family: Roboto, sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: rgba(0, 0, 0, 0.72);
	}
	
	.purchase-button {
		margin-top: 0;
		margin-bottom: 3px;
	}
	
	.delivery-address {
		margin-top: 1rem;
		margin-bottom: 0;
		
		font-size: 13px;
		font-weight: 400;
		font-family: Roboto, sans-serif;
		color: rgba(0, 0, 0, 0.72);
	}
	
	.delivery-address mat-icon {
		position: relative;
		top: 3px;
		font-size: 20px;
	}
	
	.product-statistics {
		height: 100%;
		width: 100%;
		border: 1px solid #a4a4a4;
		border-radius: 5px;
		top: 0;
		margin-top: auto;
		margin-bottom: auto;
		padding: 0 !important;
		font-family: Roboto, sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: rgba(0, 0, 0, 0.72);
		
		div {
			padding-bottom: 20px;
		}
	}
}
