<div *ngIf="showNoProductsIcon">
	<div class="no-orders-message">
		<i class="fa fa-book"></i>
		<div>
			<h2>
				{{
				'WAREHOUSE_VIEW.ORDER_WAREHOUSE_STATUSES.NO_PRODUCTS'
						| translate
				}}
			</h2>
			<h3 (click)="presentCreateProductPopover()">
				{{ 'WAREHOUSE_VIEW.MISC_TEXT.ADD_NEW_PRODUCT' | translate }}
			</h3>
		</div>
	</div>
</div>

<div class="masonry-container">
	<ngx-masonry
			*ngIf="productsCount > 0"
			[options]="masonryOptions"
			[updateLayout]="updateMasonryLayout"
			#masonry
	>
		<ngxMasonryItem
				class="masonry-item"
				*ngFor="
				let warehouseProduct of allProducts
					| paginate
						: {
								itemsPerPage: paginationCount,
								currentPage: page,
								totalItems: productsCount
						  }
			"
		>
			<ion-item class="product-card-container" type="card">
				<div class="card product-card">
					<div class="product-image-container">
						<img
								class="product-image"
								(load)="masonry.layout()"
								(click)="openEditProductModal(warehouseProduct)"
								src="{{
								localeTranslate(
									warehouseProduct?.product?.images
								)
							}}"
								alt="{{warehouseProduct?.product?.title}}"/>
					</div>
					
					<div class="product-mini-bar">
                        <span class="name">
	                        {{
	                        truncateTitle(
			                        localeTranslate(
					                        warehouseProduct.product.title
			                        )
	                        )
	                        }}
						</span>
						<span class="count">{{ warehouseProduct?.count }}</span>
					
					</div>
					<div class="product-edit-bar">
						<a
								class="edit-button button float-left"
								(click)="addProduct(warehouseProduct.product.id)"
						>
							<ion-icon
									ios="add-outline"
									md="md-add"
							></ion-icon>
						</a>
						<a
								class="edit-button button float-right"
								(click)="removeProduct(warehouseProduct.product.id)"
						>
							<ion-icon
									ios="remove-outline"
									md="md-remove"
							></ion-icon>
						</a>
					</div>
					<div class="product-edit-bar">
						<a
								class="edit-button button"
								(click)="deleteProduct(warehouseProduct.product.id)"
						>
							<ion-icon
									ios="trash-outline"
									md="md-trash"
							></ion-icon>
						</a>
					</div>
				</div>
			</ion-item>
		</ngxMasonryItem>
	</ngx-masonry>
</div>

<pagination-controls
		class="pagination"
		(pageChange)="loadPage($event)"
		directionLinks="true"
		autoHide="true"
		responsive="true"
		previousLabel="Previous"
		nextLabel="Next"
>
</pagination-controls>
