<nb-card class="setup-merchant-payments">
	<nb-card-header>
		{{ 'SETTINGS_VIEW.SETUP_MARKET.PAYMENTS.PAYMENTS' | translate }}
	</nb-card-header>
	<nb-card-body>
		<div class="row m-0">
			<div class="form-group offset-md-2 col-md-4">
				<nb-checkbox (checkedChange)="isOnlinePaymentAllowed($event)"
				             [checked]="false">
					{{ 'SETTINGS_VIEW.SETUP_MARKET.PAYMENTS.ALLOW_ONLINE_PAYMENT' | translate }}
				</nb-checkbox>
			</div>
		</div>
		<div class="row m-0">
			<div class="form-group offset-md-2 col-md-4">
				<nb-checkbox
						(checkedChange)="isOnlinePaymentAllowed($event)"
						[checked]="false"
				>
					{{ 'SETTINGS_VIEW.SETUP_MARKET.PAYMENTS.ALLOW_ONLINE_PAYMENT' | translate }}
				</nb-checkbox>
			</div>
			<div class="form-group offset-md-2 col-md-4">
				<nb-checkbox
						(checkedChange)="isCashAllowed($event)"
						[checked]="true"
				>
					{{
					'SETTINGS_VIEW.SETUP_MARKET.PAYMENTS.ALLOW_CASH_PAYMENT'
							| translate
					}}
				</nb-checkbox>
			</div>
		</div>
		<div [hidden]="!isPaymentEnabled" class="row m-0">
			<div class="form-group offset-md-2 col-md-8">
				<ea-payment-gateways
						#paymentGateways
						[warehouseCountry]="locationForm.countryId.value"
						[warehouseLogo]="warehouseLogo"
				></ea-payment-gateways>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<button (click)="previousStep.emit()" nbButton>
	{{ 'SETTINGS_VIEW.SETUP_MARKET.PREV' | translate }}
</button>
<button (click)="nextStep.emit()" [disabled]="!isPaymentValid" nbButton>
	{{ 'SETTINGS_VIEW.SETUP_MARKET.NEXT' | translate }}
</button>
