@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~@ever-platform/common-angular/src/scss/everbie.common';

.header-image {
  // use some value from .env file for URL
  background: url(http://res.cloudinary.com/evereq/image/upload/v1492625372/logo_dhc9ne.png);
  background-size: contain;
}

.grid-view {
  height: 450px;
  padding: 0;

  .image-container {
    height: 50%;

    img {
      height: 100%;
      max-width: 100%;
      margin: 0 auto !important;

      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .image-container.full-height {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      margin: 0 auto !important;
    }
  }

  .below warehouse-logo.ltr {
    margin-right: -4px !important;
  }

  .below warehouse-logo.rtl {
    margin-left: -4px !important;
  }

  .bottom,
  .below {
    margin: 0 !important;
    padding: 0 16px 10px 16px;
    position: absolute;
    bottom: 0;

    .description {
      overflow: hidden;
      max-height: 4rem;
    }

    .title {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.product-card {
  background-color: whitesmoke;
  margin: 10px;
  padding-bottom: 0 !important;

  .image {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .logo {
    position: absolute;
    top: 0;
    width: 20%;
    margin-top: 12px;
    opacity: 1;
    margin-left: -12px;
  }

  .details-button {
    padding-right: 21px;
    padding-left: 21px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: #fff;
  }
  
  .hbrw > a
  {
    text-decoration: none;
    :hover {
      color: #f85c5c;
    }
  }

  .hbrw.rtl {
    text-align: right;

    .purchase-button {
      margin-right: -4px !important;
    }

    .details-button {
      margin-right: 4px;
    }
  }

  .purchase-button {
    margin-right: 4px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }

  .title {
    color: #2a2a2a;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 24px;
  }
  
  .price {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-top: 10px;
    font-size: 24px;
    
    .has-discount {
      color: #3f7a3b;
    }
  }
  
  .price-initial {
    text-decoration: line-through;
  }

  .title.rtl {
    right: 0 !important;
  }

  .description {
    //color: #fff;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);
    margin-left: -16px;
    margin-bottom: -4px;
    padding: 0 16px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    warehouse-logo.ltr {
      margin-top: -28px;
      margin-left: auto;
    }

    warehouse-logo.rtl {
      margin-top: -28px;
      margin-right: auto;
    }
  }

  .below {
    width: 100%;
    padding-top: 9%;
    padding-bottom: 3%;
    margin-left: -8px;

    warehouse-logo.ltr {
      float: right;
      margin-left: auto;
      margin-right: -14px;
    }

    warehouse-logo.rtl {
      float: left;
      margin-right: auto;
      margin-left: -14px;
    }
  }

  .border-bottom-radius {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .image-content {
    position: relative;
  }
}
