<mat-toolbar class="toolbar" color="primary">
	<div [fxShow]="false" [fxHide.gt-sm]="false">
		<button mat-icon-button
		        (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div class="menu-brand-separator"></div>
	
	<span fxShow="true" fxHide.lt-md="false" class="nav">
		<button
				[routerLinkActive]="'active-option'"
				[routerLink]="['/products']"
				class="nav-option"
				mat-button
		>
			<ever-icon class="nav-icon" type="basket"></ever-icon>
			{{ 'Products' | translate }}
		</button>
		<button
				[routerLinkActive]="'active-option'"
				[routerLink]="['/warehouses']"
				class="nav-option"
				mat-button
		>
			<mat-icon class="nav-icon">store</mat-icon>
			{{ 'Warehouses' | translate }}
		</button>
		<button
				[routerLinkActive]="'active-option'"
				[routerLink]="['/orders']"
				class="nav-option"
				mat-button
		>
			<ever-icon class="nav-icon" type="history"></ever-icon>
			{{ 'Orders' | translate }}
		</button>
	</span>
	
	<section class="right-elements">
		<span class="toggle-order-type">
			<small
					(click)="toggleGetProductsType()"
					[ngClass]="{ 'no-select': isDeliveryRequired }"
					class="ml-3"
			>{{ 'TAKEAWAY' | translate }}</small
			>
			<mat-slide-toggle
					(change)="toggleGetProductsType()"
					[checked]="isDeliveryRequired"
					class="example-margin mr-2 ml-2"
			>
			</mat-slide-toggle>
			<small
					(click)="toggleGetProductsType()"
					[ngClass]="{ 'no-select': !isDeliveryRequired }"
					class="mr-3"
			>{{ 'DELIVERY' | translate }}</small
			>
		</span>
		<mat-search #matSearch
		            *ngIf="isLocationBarVisible"
		            (detectLocation)="loadAddress(true)"
		            (searchLocation)="tryFindNewAddress($event)"
		            [color]="styleVariables.brandLighted"
		            focusedColor="#f1f1f1">
		</mat-search>
		<button mat-button
		        (click)="isLocationBarVisible = !isLocationBarVisible">
			<svg mat-icon-button viewBox="0 0 24 24">
				<path fill="#FFF"
				      d="M17.659,9.597h-1.224c-0.199-3.235-2.797-5.833-6.032-6.033V2.341c0-0.222-0.182-0.403-0.403-0.403S9.597,2.119,9.597,2.341v1.223c-3.235,0.2-5.833,2.798-6.033,6.033H2.341c-0.222,0-0.403,0.182-0.403,0.403s0.182,0.403,0.403,0.403h1.223c0.2,3.235,2.798,5.833,6.033,6.032v1.224c0,0.222,0.182,0.403,0.403,0.403s0.403-0.182,0.403-0.403v-1.224c3.235-0.199,5.833-2.797,6.032-6.032h1.224c0.222,0,0.403-0.182,0.403-0.403S17.881,9.597,17.659,9.597 M14.435,10.403h1.193c-0.198,2.791-2.434,5.026-5.225,5.225v-1.193c0-0.222-0.182-0.403-0.403-0.403s-0.403,0.182-0.403,0.403v1.193c-2.792-0.198-5.027-2.434-5.224-5.225h1.193c0.222,0,0.403-0.182,0.403-0.403S5.787,9.597,5.565,9.597H4.373C4.57,6.805,6.805,4.57,9.597,4.373v1.193c0,0.222,0.182,0.403,0.403,0.403s0.403-0.182,0.403-0.403V4.373c2.791,0.197,5.026,2.433,5.225,5.224h-1.193c-0.222,0-0.403,0.182-0.403,0.403S14.213,10.403,14.435,10.403"
				></path>
			</svg>
		</button>
		<mat-form-field class="language-bar" appearance="legacy">
			<mat-icon>language</mat-icon>
			<mat-select [(value)]="selectedLang">
				<mat-option
						(click)="switchLanguage(selectedLang)"
						*ngFor="let lang of translateService.getLangs()"
						[value]="lang"
				>
					{{ translateLanguage(lang) }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</section>
	<span class="nav">
	        <a [routerLink]="['/settings']" class="nav-option" mat-button>
	            <ever-icon class="nav-icon" type="settings"></ever-icon>
	        </a>
		</span>
</mat-toolbar>
