<nb-card>
	<nb-card-header>
		<h5>
			{{
			'SETTINGS_VIEW.SETUP_MARKET.INSTRUCTIONS.HOW_TO_SET_UP'
					| translate
			}}
			{{ stepper.selected.label }}?
		</h5>
	</nb-card-header>
	<nb-card-body>
		<div *ngIf="stepper.selectedIndex === 0">
			TODO add instructions for Basic info
		</div>
		<div *ngIf="stepper.selectedIndex === 1">
			TODO add instructions for Contact info
		</div>
		<div *ngIf="stepper.selectedIndex === 2">
			TODO add instructions for Payments
		</div>
	</nb-card-body>
</nb-card>
