<toolbar *ngIf="!isToolbarDisabled"
         class="navbar navbar-expand-lg"
         style="position: relative"
         [sidenav]="sidenav">
</toolbar>

<mat-sidenav-container color="primary"
                       style="position: relative"
                       [hasBackdrop]="false"
                       (backdropClick)="sidenav.close()"
>
	<mat-sidenav #sidenav
	             fixedInViewport
	             class="sidenav"
	             mode="over"
	             position="start">
		<mat-list dense class="nav-justified">
			<mat-list-item class="nav-item">
				<a [routerLinkActive]="'active-option'"
				   [routerLink]="['/products']"
				   class="nav-option nav-link"
				>
					{{ 'Products' | translate }}
				</a>
			</mat-list-item>
			<mat-list-item class="sidenav-item">
				<a [routerLinkActive]="'active-option'"
				   [routerLink]="['/auth/by-location']"
				   class="nav-option nav-link"
				>
					{{ 'Warehouses' | translate }}
				</a>
			</mat-list-item>
			<mat-list-item class="sidenav-item">
				<a [routerLinkActive]="'active-option'"
				   [routerLink]="['/orders']"
				   class="nav-option nav-link"
				>
					{{ 'Orders' | translate }}
				</a>
			</mat-list-item>
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<div [ngClass]="{ 'toolbar-enabled': !isToolbarDisabled }"
		     class="app-content">
			<router-outlet class="container-fluid"></router-outlet>
			<div #chatpopupContainer></div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
