html,
app,
body {
	height: 100%;
	position: relative;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

a.active {
	background-color: gray;
}

mat-sidenav-container {
	margin: 0;
	width: 100%;
	height: 100%;
}

.sidenav
{
	left: 0;
	top: 60px!important;
	height: 100%;
	min-width: 400px;
	
	.sidenav-item {
		color: white!important;
	}
}

.sidenav-content {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	height: 100%;
}

.app-content {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #eeeeee;
}

.app-content.toolbar-enabled {
	height: 100%;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #005ccc;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.float-chatbox {
	position: fixed;
	width: 300px;
	height: auto;
	bottom: 40px;
	right: 40px;
	background-color: #FFF;
	border-radius: 10px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.chat-icon {
	margin-top: 22px;
	color: #FFF !important;
}
