<nb-card class="setup-merchant-basic-info">
	<nb-card-header>
		{{ 'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.BASIC_INFO' | translate }}
	</nb-card-header>
	<nb-card-body>
		<form #basicInfoForm="ngForm" class="row m-0">
			<div class="form-group offset-md-2 col-md-8">
				<label for="name">
					{{
					'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.NAME' | translate
					}}
				</label>
				<input
						#name="ngModel"
						(change)="nameChange()"
						[(ngModel)]="basicInfoModel.name"
						[ngClass]="{
						'input-danger':
							name.invalid && (name.dirty || name.touched),
						'input-success':
							name.valid && (name.dirty || name.touched)
					}"
						class="form-control"
						id="name"
						minlength="4"
						name="name-input"
						nbInput
						placeholder="{{
						'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.NAME' | translate
					}}"
						required
						type="text"
				/>
				<small
						*ngIf="name.invalid && (name.dirty || name.touched)"
						class="text-danger"
				>
					<span *ngIf="name.errors.required">
						{{
						'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.NAME_IS_REQUIRED'
								| translate
						}}
					</span>
					<span *ngIf="name.errors.minlength">
						{{
						'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.NAME_MUST_BE_AT_LEAST_4_CHARACTERS'
								| translate
						}}
					</span>
				</small>
			</div>
			<div class="offset-md-2 col-md-8">
				<label for="name">
					{{
					'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.PHOTO' | translate
					}}
				</label>
				<e-cu-file-uploader
						(uploadedImgUrl)="basicInfoModel.logo = $event"
						[customClass]="
						basicInfoModel.logo !== ''
							? invalidUrl
								? 'form-control-danger'
								: 'form-control-success'
							: ''
					"
						[fileUrl]="basicInfoModel.logo"
						[name]="name.value"
						[placeholder]="uploaderPlaceholder"
				></e-cu-file-uploader>
				
				<small
						*ngIf="invalidUrl && basicInfoModel.logo !== ''"
						class="text-danger"
				>
					<span *ngIf="invalidUrl">
						{{
						'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.ENTER_A_VALID_LOGO_URL_OR_BROWSE_FROM_A_DEVICE'
								| translate
						}}
					</span>
				</small>
			</div>
			<div
					[hidden]="basicInfoModel.logo === '' || invalidUrl"
					class="offset-md-2 col-md-8"
			>
				<div class="col-sm-10">
					<div class="row preview-img">
						<img
								(error)="invalidUrl = true"
								(load)="invalidUrl = false"
								alt="Invalid image"
								class="img-rounded"
								src="{{ basicInfoModel.logo }}"
						/>
						<div (click)="deleteImg()" class="remove-icon">
							<span
									class="ion-md-remove-circle text-danger pl-2"
									title="{{
									'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.REMOVE'
										| translate
								}}"
							></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="mb-3 col-12 p-0">
				<div class="form-group offset-md-2 col-md-8 mt-3 mb-0">
					<label for="barcodeData">
						{{
						'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.BARCODE_DATA'
								| translate
						}}
					</label>
					<input
							#barcodeData="ngModel"
							(change)="barcodeDataChange()"
							[(ngModel)]="basicInfoModel.barcodeData"
							[ngClass]="{
							'input-danger':
								barcodeData.invalid &&
								(barcodeData.dirty || barcodeData.touched),
							'input-success':
								barcodeData.valid &&
								(barcodeData.dirty ||
									barcodeData.touched ||
									barcodeData.value)
						}"
							class="form-control"
							id="barcodeData"
							name="barcode-data-input"
							nbInput
							placeholder="{{
							'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.BARCODE_DATA'
								| translate
						}}"
							required
							type="text"
					/>
					<small
							*ngIf="
							barcodeData.invalid &&
							(barcodeData.dirty || barcodeData.touched)
						"
							class="text-danger"
					>
						<span *ngIf="barcodeData.errors.required">
							{{
							'SETTINGS_VIEW.SETUP_MARKET.BASIC_INFO.BARCODE_DATA_IS_REQUIRED'
									| translate
							}}
						</span>
					</small>
				</div>
				<div [hidden]="!barcodetDataUrl" class="offset-md-2 col-md-8">
					<div class="col-sm-10">
						<span class="row preview-barcode">
							<img
									alt="Invalid image"
									class="img-rounded"
									src="{{ barcodetDataUrl }}"
							/>
						</span>
					</div>
				</div>
			</div>
		</form>
	</nb-card-body>
</nb-card>

<button (click)="previousStep.emit()" nbButton>
	{{ 'SETTINGS_VIEW.SETUP_MARKET.PREV' | translate }}
</button>
<button (click)="nextStep.emit()" [disabled]="!formValid" nbButton>
	{{ 'SETTINGS_VIEW.SETUP_MARKET.NEXT' | translate }}
</button>
