<mat-card style="min-height: 600px">
	<mat-card-title>
		<h5>Comments</h5>
	</mat-card-title>
	<mat-card-content class="container-fluid">
		<div class="row">
			<div class="scrollable-area">
				<es-comment-list [storeId]="warehouseId"
				                 [storeProductId]="warehouseProductId"
				                 [customerId]="customerId"
				>
				</es-comment-list>
			</div>
		</div>
		<form (ngSubmit)="onSubmit()"
		      [formGroup]="commentForm"
		      class="row">
			<div class="form-group col-md-12">
				<div class="row">
					<div class="input-group">
						<textarea class="form-control"
						          formControlName="message"
						          placeholder="Message"
						          [rows]="5"
						          style="min-height: 100px"
						>
						</textarea>
					</div>
				</div>
				<div class="row mt-5 float-right">
					<div class="btn-group"
					     role="group"
					>
						<button type="submit"
						        class="btn btn-primary"
						        matRipple>
							Comment
						</button>
						<button type="button"
						        class="btn btn-secondary"
						        (click)="onCommentCancel()"
						        mat-flat-button>
							Cancel
						</button>
					</div>
				</div>
			</div>
		</form>
	</mat-card-content>
</mat-card>
