<div class="app-view popup-view edit-product-type-popup bg-white">
	<h4 class="custom-title-popup">
		{{ 'EDIT_PRODUCT_POP_UP.EDIT_PRODUCT_TYPE' | translate }}
	</h4>
	<p style="text-align: center;">
		{{ 'EDIT_PRODUCT_POP_UP.UPDATE_AN_EXISTING_PRODUCT' | translate }}
	</p>
	<button class="close" (click)="cancelModal()">
		<i class="fa fa-close"></i>
	</button>
	
	<ion-row>
		<div class="col popup-half">
			<div class="popup-input-container">
				<label>
					<span class="popup-input-description"
					>{{ 'EDIT_PRODUCT_POP_UP.TITLE' | translate }}</span
					>
					<input class="popup-input" [(ngModel)]="productTitle"/>
				</label>
			</div>
			
			<div class="popup-input-container">
				<label>
					<span class="popup-input-description">
						{{ 'EDIT_PRODUCT_POP_UP.DESCRIPTION' | translate }}
					</span>
					<textarea
							class="popup-input"
							rows="4"
							[(ngModel)]="productDescription"
							#productDesc="ngModel"
					></textarea>
				</label>
				<div *ngIf="productDesc.control.value?.length > descriptionMaxLength"
				     style="width: 100%; border: 1px solid red;">
					<span style="color: red; font-size: 8px">
						{{ 'EDIT_PRODUCT_POP_UP.ERRORS.MAX_CHAR' | translate }}
						({{productDesc.control.value?.length}}/{{descriptionMaxLength}})
					</span>
				</div>
			</div>
			
			<div class="popup-input-container">
				<label>
					<span class="popup-input-description">
						{{ 'EDIT_PRODUCT_POP_UP.DETAILS' | translate }}
					</span>
					<textarea
							class="popup-input"
							rows="6"
							[(ngModel)]="productDetails"
					></textarea>
				</label>
			</div>
			
			<div class="popup-input-container">
				<label>
					<span>
						{{ 'EDIT_PRODUCT_POP_UP.CATEGORIES' | translate }}
					</span>
					<ion-item id="multiple-select">
						<ion-select
								[(ngModel)]="selectedProductCategories"
								multiple="true"
								[interfaceOptions]="selectOptionTitle"
								[okText]="buttonOK"
								[cancelText]="buttonCancel"
						>
							<ion-select-option *ngFor="let category of productsCategories"
							                   [value]="category.id"
							>
								{{ localeTranslateService.getTranslate(category.name) }}
							</ion-select-option>
						</ion-select>
					</ion-item>
				</label>
			</div>
			
			<ion-row>
				<div class="col no-padding-left pl-0 pr-0">
					<div class="popup-input-container">
						<label>
							<span class="popup-input-description">
								{{ 'EDIT_PRODUCT_POP_UP.PRICE' | translate }}
							</span>
							<input
									class="popup-input"
									type="number"
									placeholder="$"
									[(ngModel)]="warehouseProduct.price"
							/>
						</label>
					</div>
				</div>
				
				<div class="col no-padding-right">
					<div class="popup-input-container">
						<label>
							<span class="popup-input-description">
								{{ 'EDIT_PRODUCT_POP_UP.COUNT' | translate }}
							</span>
							<input
									class="popup-input"
									type="number"
									placeholder="0 to just create"
									[(ngModel)]="warehouseProduct.count"
							/>
						</label>
					</div>
				</div>
				
				<div class="col no-padding-right pr-0">
					<div class="popup-input-container">
						<label>
							<span class="popup-input-description">
								{{ 'EDIT_PRODUCT_POP_UP.LANGUAGE' | translate }}
							</span>
							<select
									class="popup-input select"
									[(ngModel)]="currentLocale"
							>
								<option value="en-US">
									{{ 'EDIT_PRODUCT_POP_UP.ENGLISH' | translate }}
								</option>
								<option value="ru-RU">
									{{ 'EDIT_PRODUCT_POP_UP.RUSSIAN' | translate }}
								</option>
							</select>
						</label>
					</div>
				</div>
			</ion-row>
			<ion-row class="row">
				<ion-col class="col">
					<ion-checkbox
							class="mr-3"
							[(ngModel)]="isAvailable"
							(ionChange)="availabilityHandler()"
					>
					</ion-checkbox>
					<ion-label style="font-size: 12px">
						{{ 'WAREHOUSE_VIEW.CREATE_PRODUCTS_POPUP.PRODUCT_AVAILABILITY' | translate }}
					</ion-label>
				</ion-col>
			</ion-row>
			
			<ion-row class="row getProductType">
				<ion-col class="pl-0 col-6">
					<ion-item class="coord-box">
						<ion-checkbox
								class="mr-3"
								[(ngModel)]="productDelivery"
								(ionChange)="getProductTypeChange('Delivery')"
						></ion-checkbox>
						<ion-label
						>{{'WAREHOUSE_VIEW.CREATE_PRODUCTS_POPUP.DELIVERY'|translate}}</ion-label
						>
					</ion-item>
				</ion-col>
				<ion-col class="pl-0 col-6">
					<ion-item class="coord-box">
						<ion-checkbox
								class="mr-3"
								[(ngModel)]="productTakeaway"
								(ionChange)="getProductTypeChange('Takeaway')"
						></ion-checkbox>
						<ion-label
						>{{'WAREHOUSE_VIEW.CREATE_PRODUCTS_POPUP.TAKEAWAY'|translate}}</ion-label
						>
					</ion-item>
				</ion-col>
			</ion-row>
		</div>
		
		<div [uploader]="uploader"
		     ng2FileDrop
		     class="col popup-half"
		     style="margin: auto;"
		>
			<div (click)="hasImage && showPicturesPopup()"
			     #imageHolder
			     ngf-select="imageSelected($file)"
			     ngf-pattern="'image/*'"
			     class="upload-button"
			     id="image-holder"
			>
				<h6 *ngIf="isBrowser && !hasImage" class="dragDrop">
					{{ 'EDIT_PRODUCT_POP_UP.DRAG&DROP_FILE_HERE' | translate }}
					
					<br/>
					<br/>{{ 'EDIT_PRODUCT_POP_UP.OR_BROWSE' | translate }}
				</h6>
				
				<input
						*ngIf="!hasImage"
						ng2FileSelect
						multiple
						type="file"
						id="fileInput"
						[uploader]="uploader"
						(change)="imageUrlChanged($event)"
				/>
				
				<div class="{{ hasImage ? 'no-upload-input' : '' }} ">
					<label *ngIf="!isBrowser">
						<ion-icon
								(click)="!hasImage && presentActionSheet()"
								class="upload-icon"
								name="{{ hasImage ? 'images' : 'cloud-upload' }}"
						></ion-icon>
						<h3 class="upload-text">
							{{ hasImage ?
								('EDIT_PRODUCT_POP_UP.CLICK_TO_EDIT_PICTURES' |
										translate) :
								('EDIT_PRODUCT_POP_UP.CLICK_TO_UPLAOD_PICTURE' |
										translate) }}
						</h3>
					</label>
					
					<label *ngIf="isBrowser" for="fileInput">
						<ion-icon
								class="upload-icon"
								name="{{ hasImage ? 'images' : 'cloud-upload' }}"
						></ion-icon>
						<h3 class="upload-text">
							{{ hasImage ?
								('EDIT_PRODUCT_POP_UP.CLICK_TO_EDIT_PICTURES' |
										translate) :
								('EDIT_PRODUCT_POP_UP.CLICK_TO_UPLAOD_PICTURE' |
										translate) }}
						</h3>
					</label>
				</div>
			</div>
			
			<div class="button-bar padding-top">
				<button class="button button-assertive" (click)="cancelModal()">
					{{ 'EDIT_PRODUCT_POP_UP.CANCEL' | translate }}
				</button>
				
				<button
						class="button button-brand"
						[disabled]="!isReadyToUpdate"
						(click)="updateProduct()"
				>
					{{ 'EDIT_PRODUCT_POP_UP.UPDATE' | translate }}
				</button>
			</div>
		</div>
	</ion-row>
	<ion-row class="comments" *ngIf="warehouseProduct?.comments && warehouseProduct.comments.length > 0">
		<h2 class="comments-title title">
			Комментарии
		</h2>
		<div class="col popup-half">
			<ion-card *ngFor="let comment of warehouseProduct.comments; index as i">
				<ion-card-header>
					<ion-card-subtitle>Card Subtitle</ion-card-subtitle>
					<ion-card-title>Card Title</ion-card-title>
				</ion-card-header>
				<ion-item>
					<ion-icon name="pin" slot="start"></ion-icon>
					<ion-label>ion-item in a card, icon left, button right</ion-label>
					<ion-button fill="outline" slot="end">View</ion-button>
				</ion-item>
				
				<ion-card-content>
					{{comment.message}}
				</ion-card-content>
			</ion-card>
		</div>
	</ion-row>
</div>
