<mat-card [ngClass]="{ 'grid-view': isGridView }" class="product-card pt-0">
	<div [ngClass]="{ 'full-height': true }"
	     class="image-container"
	>
		<img
				(load)="onImageLoad()"
				[ngClass]="{ 'border-bottom-radius': true }"
				[src]="logo"
				class="image"
				mat-card-image
		/>
	</div>
	
	<div
			[ngClass]="'bottom'"
			class="w-100"
	>
		<warehouse-logo
				[light]="true"
				[logo]="logo"
				[ngClass]="document.documentElement.dir === 'rtl' ? 'rtl' : 'ltr'"
		></warehouse-logo>
		
		<div
				[ngClass]="document.documentElement.dir === 'rtl' ? 'rtl' : 'ltr'"
				class="hbrw"
		>
			<h1 class="title">
				{{ warehouse.name }}
			</h1>
			
			<h2 class="description">
				{{ warehouse.contactPhone }}
			</h2>
		
		</div>
	</div>
</mat-card>
