<!-- TODO add translate -->
<ion-grid class="user-mutation-component">
	<h4 class="custom-title-popup">
		{{ (customer
			? 'CUSTOMERS_VIEW.EDIT_CUSTOMER'
			: 'CUSTOMERS_VIEW.ADD_CUSTOMER') | translate }}
	</h4>
	<button class="close" *ngIf="visible" (click)="cancelModal()">
		<i class="fa fa-close"></i>
	</button>
	<ion-row class="crete-user">
		<ion-col [hidden]="isNextStepAvailable">
			<basic-info-form
					#basicInfoForm
					[form]="basicInfo"
					[customerData]="customer"
			></basic-info-form>
		</ion-col>
		
		<ion-col [hidden]="!isNextStepAvailable">
			<location-form
					#locationForm
					[form]="location"
					[customerData]="customer"
					[apartment]="apartment"
					[showAutocompleteSearch]="true"
					(mapCoordinatesEmitter)="onCoordinatesChanges($event)"
					(mapGeometryEmitter)="onGeometrySend($event)"
			>
			</location-form>
		</ion-col>
	</ion-row>
	
	<ion-row>
		<ion-col class="text-center mb-3">
			<ion-button
					color="light"
					class="mr-2"
					*ngIf="isNextStepAvailable"
					(click)="isNextStepAvailable = false"
			>
				{{ 'WAREHOUSE_VIEW.NEW_ORDER_VIEW.BACK' | translate }}
			</ion-button>
			<ion-button
					color="dark"
					*ngIf="!isNextStepAvailable"
					(click)="isNextStepAvailable = true"
					[disabled]="basicInfo.invalid"
			>
				{{ 'WAREHOUSE_VIEW.NEW_ORDER_VIEW.NEXT' | translate }}
			</ion-button>
			<ion-button
					color="dark"
					*ngIf="isNextStepAvailable"
					(click)="customer ? saveCustomer() : createCustomer()"
					[disabled]="form.invalid"
			>
				{{
				(customer
								? 'WAREHOUSE_VIEW.NEW_ORDER_VIEW.DONE'
								: 'WAREHOUSE_VIEW.NEW_ORDER_VIEW.ADD_CUSTOMER'
				) | translate
				}}
			</ion-button>
		</ion-col>
	</ion-row>
	
	<ion-row [hidden]="!isNextStepAvailable">
		<ion-col>
			<google-map
					[mapCoordEvent]="mapCoordinatesEmitter"
					[mapGeometryEvent]="mapGeometryEmitter"
			></google-map>
		</ion-col>
	</ion-row>
</ion-grid>
