<table class="table table-sm table-borderless">
	<tbody>
	<tr>
		<th scope="row">
			<strong>
				{{'PRODUCTS_VIEW.PRODUCT_DETAILS_VIEW.TOTAL_RATING' | translate }}:
			</strong>
		</th>
		<td>
			<es-rating fillStar
			           ratingType="total"
			           [customerId]="customerId"
			           [warehouseId]="warehouseId"
			           [warehouseProduct]="warehouseProduct"
			>
			</es-rating>
		</td>
	</tr>
	<tr>
		<th scope="row">
			<strong>
				{{'PRODUCTS_VIEW.PRODUCT_DETAILS_VIEW.RATE' | translate }}:
			</strong>
		</th>
		<td>
			<es-rating fillStar
			           ratingType="custom"
			           [customerId]="customerId"
			           [warehouseId]="warehouseId"
			           [warehouseProduct]="warehouseProduct"
			>
			</es-rating>
		</td>
	</tr>
	<tr>
		<th scope="row">
			<strong>
				{{ 'PRODUCTS_VIEW.PRODUCT_DETAILS_VIEW.TOTAL_VIEWS' | translate }}:
			</strong>
		</th>
		<td>
					<span>
						{{ warehouseProduct?.viewsCount }}
					</span>
		</td>
	</tr>
	<tr>
		<th scope="row">
			<strong>
				{{ 'PRODUCTS_VIEW.PRODUCT_DETAILS_VIEW.PRICE' | translate }}:
			</strong>
		</th>
		<td>
			<span>
				{{ warehouseProduct?.price | customCurrency:currency }}
			</span>
			<span *ngIf="hasDiscount"
			      class="price-initial">
				{{ warehouseProduct?.initialPrice | customCurrency:currency }}
			</span>
		</td>
	</tr>
	<tr *ngIf="hasDiscount">
		<th scope="row">
			<strong>
				{{ 'PRODUCTS_VIEW.PRODUCT_DETAILS_VIEW.DISCOUNT' | translate }}:
			</strong>
		</th>
		<td>
			<span class="discount right">
				<i aria-hidden="true" class="material-icons">trending_down</i>
				{{getDiscount()}}%
			</span>
		</td>
	</tr>
	<tr *ngIf="warehouseProduct?.product?.categories.length > 0">
		<th scope="row">
			<strong>
				{{ 'PRODUCTS_VIEW.PRODUCT_DETAILS_VIEW.CATEGORIES' | translate }}:
			</strong>
		</th>
		<td>
			<ul>
				<li *ngFor="let category of categories">
					{{ localeTranslate(category.name) }}
				</li>
			</ul>
		</td>
	</tr>
	</tbody>
</table>
