:host {
	display: inline-block;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	
	a.btn.disabled,
	fieldset:disabled a.btn {
		pointer-events: none;
	}
	
	button.primary {
		color: #007bff;
		background-color: transparent;
		
		:hover {
			color: #0069d9;
			background-color: #fff;
		}
		
		:focus, .primary.focus {
			background-color: #fff;
			color: #0069d9;
			box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
		}
		
		:disabled {
			color: #007bff;
			background-color: #fff;
		}
	}
	
	button.danger {
		color: #dc3545;
		border-color: #dc3545;
		background-color: transparent;
		
		:hover {
			color: #c82333;
			background-color: #fff;
			border-color: #bd2130;
		}
		
		:focus, .danger.focus {
			color: #c82333;
			background-color: #fff;
			border-color: #bd2130;
			box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
		}
		
		.disabled, :disabled {
			color: #dc3545;
			background-color: #fff;
			border-color: #dc3545;
		}
	}
}
