<div class="scrollable">
	<div class="card mb-lg-3"
	     *ngFor="let comment of comments; let i = index">
		<div class="card-header">
			<div class="row float-right">
				<div class="col-md-6 mb-auto mt-auto">
					<!--					<img src="{{getAvatar(comment)}}"-->
					<!--					     width="30"-->
					<!--					     height="30"-->
					<!--					     class="rounded mx-auto d-block"-->
					<!--					     alt="{{getCustomer(comment).role}}">-->
				</div>
				<div class="col-md-6">
					<h6>
						<!--						{{getCustomer(comment).fullName}}-->
					</h6>
				</div>
			</div>
		</div>
		<div class="card-body">
			<p class="card-text">{{comment.message}}</p>
			<div class="btn-group float-right">
				<div class="mr-3">
					<button mat-button
					        mat-icon-button
					        class="primary"
					        (click)="onLike(comment.id)">
						<mat-icon>thumb_up</mat-icon>
					</button>
					<span *ngIf="comment.likes > 0" style="color: rgba(14,114,255,0.56)">
					+{{comment.likes}}
				</span>
				</div>
				<div class="mr-3">
					<button mat-button
					        mat-icon-button
					        class="warn"
					        (click)="onDisLike(comment.id)">
						<mat-icon>thumb_down</mat-icon>
					</button>
					<span *ngIf="comment.dislikes > 0"
					      style="color: rgba(255,0,0,0.46)">
					-{{comment.dislikes}}
				</span>
				</div>
				<div class="mr-3">
					<button mat-button
					        mat-icon-button
					        class="danger"
					        *ngIf="getCustomer(comment).id === _customer.id"
					        (click)="onDeleteComment(comment.id)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
