@import '~@ever-platform/common-angular/src/scss/everbie.common';

:host {
	position: relative;
	display: inline-flex;
	align-items: center;
	
	.product-image {
		height: 100%;
		width: 100%;
		text-align: center;
		flex: content;
		
		.top-image {
			width: 100%;
			height: 100%;
			right: 0;
			left: 0;
			align-content: center;
			align-items: center;
			
			img {
				max-height: 500px!important;
			}
		}
		
		.bottom-images {
			width: 100%;
			height: 30%;
			display: inline-flex;
			justify-content: space-around;
			
			
			.image-slide {
				width: 100%;
				max-height: 100px;
				.scroll-image {
					cursor: pointer;
					border: 2px solid transparent;
				}
			}
			
			.drag-button {
				cursor: pointer;
				bottom: 0;
				top: 0;
				position: relative;
				background: $brand-lighted;
				color: white;
				height: 100px;
				opacity: 0.4;
				border: 0;
				padding: 0;
				
				i {
					font-size: 30px;
				}
			}
			
			.drag-button.left {
				left: 0;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			
			.drag-button.right {
				right: 0;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
			
			.drag-button:hover {
				opacity: 0.7;
				
				i {
					font-weight: bold;
				}
			}
			
			.drag-button:active {
				opacity: 1;
			}
		}
		
		.single-image {
			height: 100% !important;
			width: 100% !important;
			display: block;
		}
	}
	
	.product-image img {
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}
	
	.selected {
		border: 2px solid #ffff90 !important;
	}
}
