<div class="row m-0">
	<div class="form-group col-md-12 p-0">
		<nb-checkbox [(ngModel)]="isYooEnabled">
			<img alt="" src="{{ logo }}" width="20px"/>
			{{ name }}
		</nb-checkbox>
	</div>
</div>

<form #yooConfigForm="ngForm"
      [hidden]="!isYooEnabled">
	
<!-- ShopId	-->
	<div class="row m-0">
		<div class="form-group col-md-6">
			<label for="yooShopId">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.YOOKASSA.SHOP_ID_TEXT'
						| translate
				}}
			</label>
			<input
					#shopId="ngModel"
					[(ngModel)]="configModel.payButtontext"
					[ngClass]="{
					'input-danger':
						shopId.invalid &&
						(shopId.dirty || shopId.touched),
					'input-success':
						shopId.valid &&
						(shopId.dirty || shopId.touched)
				}"
					class="form-control"
					id="yooShopId"
					name="yooShopId"
					nbInput
					placeholder="{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.YOOKASSA.SHOP_ID'
				}}"
					required
					type="text"
			/>
			<small
					*ngIf="
					payButtontext.invalid &&
					(payButtontext.dirty || payButtontext.touched)
				"
					class="text-danger"
			>
				<span *ngIf="payButtontext.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.STRIPE.PAY_BUTTON_TEXT_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
	<div class="row m-0">
		<div class="form-group col-md-6">
			<label for="yooPayButtontext">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.YOOKASSA.PAY_BUTTON_TEXT'
						| translate
				}}
			</label>
			<input
					#payButtontext="ngModel"
					[(ngModel)]="configModel.payButtontext"
					[ngClass]="{
					'input-danger':
						payButtontext.invalid &&
						(payButtontext.dirty || payButtontext.touched),
					'input-success':
						payButtontext.valid &&
						(payButtontext.dirty || payButtontext.touched)
				}"
					class="form-control"
					id="yooPayButtontext"
					name="yooPayButtontext"
					nbInput
					placeholder="{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.STRIPE.PAY_BUTTON_TEXT'
						| translate
				}}"
					required
					type="text"
			/>
			<small
					*ngIf="
					payButtontext.invalid &&
					(payButtontext.dirty || payButtontext.touched)
				"
					class="text-danger"
			>
				<span *ngIf="payButtontext.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.STRIPE.PAY_BUTTON_TEXT_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
		
		<div class="form-group col-md-6">
			<label for="yooCurrency">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.YOOKASSA.CURRENCY'
						| translate
				}}
			</label>
			<select
					#currency="ngModel"
					[(ngModel)]="configModel.currency"
					class="form-control"
					id="yooCurrency"
					name="yooCurrency"
					required
			>
				<option disabled hidden selected value="">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.STRIPE.CHOOSE_CURRENCY_CODE'
							| translate
					}}</option
				>
				<option
						*ngFor="let currency of currencies"
						value="{{ currency.code }}"
				>{{currency.name}} ({{currency.sign}})
				</option>
			</select>
			<small
					*ngIf="currency.invalid && (currency.dirty || currency.touched)"
					class="text-danger"
			>
				<span *ngIf="currency.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.STRIPE.CURRENCY_TEXT_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
	
	<div class="row m-0">
		<div class="form-group col-md-12">
			<label for="yooPublishableKey">
				{{
				'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.YOOKASSA.PUBLISHABLE_KEY'
						| translate
				}}
			</label>
			<input
					#publishableKey="ngModel"
					[(ngModel)]="configModel.publishableKey"
					[ngClass]="{
					'input-danger':
						publishableKey.invalid &&
						(publishableKey.dirty || publishableKey.touched),
					'input-success':
						publishableKey.valid &&
						(publishableKey.dirty || publishableKey.touched)
				}"
					class="form-control"
					id="yooPublishableKey"
					name="yooPublishableKey"
					nbInput
					placeholder="{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.YOOKASSA.PUBLISHABLE_KEY'
						| translate
				}}"
					required
					type="text"
			/>
			<small
					*ngIf="
					publishableKey.invalid &&
					(publishableKey.dirty || publishableKey.touched)
				"
					class="text-danger"
			>
				<span *ngIf="publishableKey.errors.required">
					{{
					'FAKE_DATA.SETUP_MERCHANTS.PAYMENTS.STRIPE.PUBLISHABLE_KEY_IS_REQUIRED'
							| translate
					}}
				</span>
			</small>
		</div>
	</div>
</form>
